
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html {
  /* max-height: 1000px !important; */
  box-sizing: content-box;
  font-family: 'Raleway', sans-serif;
  height: 100% !important;
}

body {
  background: rgb(231,0,246);
  background: linear-gradient(0deg, rgba(231,0,246,1) 0%, rgba(7,8,42,1) 100%);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}

#start {
  position: absolute;
  margin-top: 0;
  padding: 0;
  margin-left: 100px;
  width: 300px;
  top: -20px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer; 

}

.house {
  display: block;
  background-color: transparent;
  background-image: url("house.png");
  background-position-x:  50%;
  background-position-y: 100%;
  background-size: contain;
  background-repeat: no-repeat; 
  min-height: 1050px;
  
  
}

#form {
  display: block;
  width: 100%;
  padding-top: 100px;
  margin: 50px 0px 50px 0px;
  background-color: transparent;
  background-image: url("../img/inputGhost.png");
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;



}

#ghostInput {
  width: 100%;
  z-index: 2;
}

label {
  margin: 1vw;
  z-index: 2;
}

input {
  margin: 1vw;
  z-index: 2;
}

button {
  color: white;
  padding: 20px 30px 20px 30px;
  margin: 1vw 1vw 2.5vw 1vw !important;
  z-index: 2;
  background-color: transparent;
  background-image: url("../img/submit-btn.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 20px !important;
}

#submit-txt {
  background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255,149,0,1) 70%);  ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer {
  color: orange;
  z-index: 2;
}

#footer p {
  margin: 0;
  padding: 0%;
}

.hidden {
  display: none;
}

/* animation */
/* 
.beep {
  animation-name: ghost;
  animation-duration: 5s;
  animation-timing-function: linear;

} */

.animate__animated.animate__fadeInDown {
  --animate-delay: 1s;
  --animate-duration: 2s;
}

@keyframes ghost {
	from {
		/* position: absolute; */
		bottom: 265px;
		left: 20px;
		width: 200px;
		height: 110px;
		border: none;
		background-image: url("../img/beep.png");
		/* z-index: -1; */
	}

	to {
		left: 95%;
		bottom: 130%;
		background-image: none;
	}
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}